html, body, #root {
    height: 100%;
    margin: 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.Header {
    flex-direction: column;
    width: 80%;
    height: 150px;
    background-color: crimson;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Header_h1:hover {
    color: blue;
}

.Body {
    flex-direction: column;
    display: flex;
    width: 80%;
    height: 60vh;
    background-color: #eaaa0b;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Body_h2:hover {
    color: lightblue;
}

.Footer {
    display: flex;
    width: 80%;
    flex-grow: 1; /* Занимает оставшееся пространство */
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
    margin: 10px;
}

.Footer_h2:hover {
    color: #d1e4dc;
}
